* {
    margin: 0;
}

h1{
    font-size: 64px;
    color: #FFF;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #04ACFA;
}


.container {
    margin-top: 100px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: #FFF;
    font-weight: 800;
    list-style: normal;
}

.signUpBox {
    width: 328px;
    height: 358px;
    border-radius: 8px;
    background: #E9E9EA;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

i {
    background-color: #E9E9EA;
}


.email {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.password {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
button {
    width: 104px;
    height: 35px;
    flex-shrink: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: #04ACFA;
    letter-spacing: 1px;
    font-size: 25px;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    font-size: 18px;
}
h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
}

a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


